.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    text-decoration-line: none;
    color: #FFFFFF;
    list-style-type: none;
}

.header__lang-link:hover {
    text-decoration-line: underline;
    opacity: 0.8;
    cursor: pointer;
}

.header__lang-link:visited {
    text-decoration-line: none;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 111%;
    }
}