.footer__links {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-content: end;
    gap: 18px;
    list-style: none;
}

@media screen and (max-width: 767px) {
    .footer__links {
        margin-bottom: 48px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        gap: 32px;
    }
}